body {
  margin: 0;
  font-size: 1.2em;
}

h1 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.1px;
  text-align: center;
}

h2 {
  font-weight: 500;
  letter-spacing: 0.1px;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.1px;
}

a {
  cursor: pointer;
  color: var(--red);
}

img {
  width: 100%;
  height: auto;
}

header {
  background-color: wheat;
  color: black;
  padding: 25px;
}

main {
  display: flex;
}

main section {
  flex: 1;
  border: 1px solid #ccc;
  padding: 20px;
}

.background-header {
  background-color: wheat;
  font-weight: 700;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  /* background-image: url("../pictures/header.jpg"); */
  background-repeat: no-repeat;
  opacity: 1;
  background-size: cover;
}

footer {
  background-color: white;
  color: black;
  padding: 1em;
  text-align: center;
  padding: 20px;
  background-position: center;
}
#input-search {
  width: 199px;
}
#tool-grid {
  text-align: center;
}
